
    <div class="container-fluid centered">

      <h1>Welcome to Financial Management Application!</h1>
      <p class="center-aligned">
        <% if !user_signed_in? %>
          You are not loged in. <%= link_to 'Sign in here.', new_session_path %>
        <% end %>
      </p>

    </div>
    <!-- /.container-fluid-->
