<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
<meta charset="utf-8" />
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  <%= wicked_pdf_javascript_include_tag "chartjs" %>

</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
